<!DOCTYPE html>
<html>
<head>
	<title><%= cat.name%></title>
	<style type="text/css">
		* {
			margin: 0px;
			padding: 0px;
			font-family: helvetica;
		}
		body {
			padding: 20px;
		}
		div {
			width: 300px;
		}
		button, input {
			padding: 5px;
		}
	</style>
</head>
<body>
	<a href="/"><button>Dashboard</button></a><br><br>
	<h2><%= cat.name%></h2><br>
	<h5>Description:</h5>
	<div><%= cat.description%></div><br>
	<a href="/cat/edit/<%= cat._id%>"><button>Edit</button></a>
	<form action='/cat/destroy/<%= cat._id%>' method='POST'>
		<input type="submit" name="submit" value="Bye Bye :(">
	</form>
</body>
</html>